{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" id="content">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <br>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <span data-feather="home"></span>
                            TOP <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/boblef/auto_transcript" target="_blank">
                            Code on Github
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/koheisuzuki" target="_blank">
                            LinkedIn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://boblef.github.io/" target="_blank">
                            MySite
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://boblef.github.io/docs/koheisuzuki_resume2020_ML.pdf"
                            target="_blank">
                            Resume
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="mb-2 mb-md-0">
                <video width="100%" height="300" controls>
                    <source src={{ url_for("static", filename="uploaded/tmp.mp4") }} type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div>
                <form action="/process" method="POST" enctype="multipart/form-data">
                    <ul class="btn-group">
                        <li>
                            <button type="submit" name="user_request" value="transcripts">Create transcripts</button>
                        </li>
                        <li>
                            <button type="submit" name="user_request" value="top">Choose another file</button>
                        </li>
                    </ul>
                </form>
            </div>
            <div>
                <br>
                {% if result_status %}
                <h4>Transcripts</h4>
                """<br>
                {{sentence}}<br>
                """<br>
                <p><strong>* The current version does not support putting periods and commas</strong>.</p>
                <br><br>
                <h4>Download</h4>
                <p>You can download a zip file that contains a JSON file that includes a list of words with the
                    information of start time and duration and a text file that keeps a sentence of words concatenated
                    with white space.</p>
                <form action="/download" method="GET" enctype="multipart/form-data">
                    <button type="submit" name="download" value="true">Download transcrips</button>
                </form>
                {% else %}
                <h4>Information</h4>
                <p>
                    If the video is not the one you want to get its transcripts, then click "Choose another file".<br>
                    If it is the correct file, then click "Create transcripts" to get transcripts.<br>
                    Video is displayed only when you upload .mp4 file. But still you can get transcripts of other files
                    such as .MOV, .wav ansd so on by clicking "Create transcrips".
                </p>
                {% endif %}
            </div>
        </main>
    </div>
</div>
<script type="text/javascript">//<![CDATA[ 
    $(document).ready(function () {
        $('form input').change(function () {
            $('form p').text(this.files.length + " file(s) selected");
        });
    });
//]]></script>
{% endblock %}